body{
margin: 0px;
font-family:Noto-regional, Noto-latin, TCCC-UnityText,noto sans,sans-serif;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height:80px;
    padding-left: 10px;
}
.navbutton{
    display: flex;
    align-items:center;
    font-size: 13px;
    font-weight: 700;
    
}.img-arrow{
    height:10px;
    margin-left: 10px;
}.banner-text{
    text-align: center;
    position:relative;
    bottom: 350px;
  
    
    
    
}.banner-img{
    width: 1100px;
    height:500px;
    object-fit:cover;
    border-radius:15px ;
   
}.banner{
    display: flex;
    justify-content: space-around;
    height:651px;
    padding-top: 30px;
   
}.banner-head{
    font-size: 24px;
    color: white;
    font-weight: bold;

}.banner-dis{
    font-size: 17px;
    color: white;
    font-weight:400;
    padding-bottom: 10px;
}
.banner-button{
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 48px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
}.radio-button{
    width: 18px;
    height: 18px;
accent-color: black;
}.radio{
    position: relative;
    text-align: center;
    bottom: 130px;
}.section{
    background-color: rgb(236, 236, 236);
}.section2-head{
    margin-top: 120px;
    text-align: center;
    font-size: 22px;
}.section2-dis{
    font-size: 35px;
    font-weight: 700;
}.section2-button{
    width: 322px;
    height: 36px;
    border-radius: 48PX;
    font-weight: 700;
    border: solid 2px black;
    font-size: 15px;
}.section2-img{
    width: 541px;
    height: 466px;
    border-radius: 15px;
}.section2{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    margin-top: 100px;
}.section2-left{
    padding-top: 110px;
}
.section3img{
    width: 544px;
    height: 407px;
    border-radius: 20px 20px 0 0 ;
}.section3-left{
    width: 544px;
    height: 689px;
    background-color: white;
    border-radius: 20px;

}.section3-text{
    padding: 10px 0  0 40px ;
}.section3-dis{
    font-size:24px ;
}.section3-p{
    font-size: 18px;
    padding-bottom:20px;
}.learn{
    font-size: 18px;
    font-weight: 700;
}.arrow2{
    width: 20px;
    margin: 0 0 -5px 10px;
}.section3{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}.section4img{
    width: 640px;
    height: 552px;
    border-radius: 15px;
}.section4-right{
    width:700px ;
    height: 450px;
    background-color: white;
    padding:40px 70px;       
    position: relative;
    right: 65px;
    border-radius: 15px;
}.section4-left{
    margin: 70px 0 0  ;
}.section4{
    display: flex;
    justify-content: center;
    padding: 100px 0px 0 60px;
}.section4dis{
    font-size:32px ;
    line-height: 32px;

}.section4-p{
    font-size:17px;
    line-height: 27px;
    font-weight:400;
}.section4btn{
    width: 327px;
    height: 40px;
    border-radius:48px ;
    font: 14px;
    font-weight: bold;
    background-color: #fff;
}
.section5-img{  
    width:192px;
    height: 192px;
    padding: 32px;
    background-color: #fff;
    border-radius: 15px;
}.section5-imgdiv{
    margin-top: 30px;
}.section5-row{
    display: flex;
    justify-content: space-around;
}.section5{
    width: 846px;
    margin: auto;
    text-align: center;
}.section5-head{
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 0px;
}.section5btn{
    width:320px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 48px; 
    padding: auto;
}.section5-btndiv{
    width: 320px;
    padding-top: 25px;
    margin: auto;
}.section6{
    padding:0 50px;
}
.section6 p{
 margin-top: 24px;
 font-size: 17px;
 line-height:30px;
}.footer{
    background-color: black;
    padding: 0px 50px;
}.locationbtn{
    font-size: 14px;
    color: white;
    background-color: black;
    border:solid 2px white;
    width: 189px;
    border-radius: 48px;
    height: 45px;
    text-align: center;

}.locationbtnimg{
    height: 18px;
}.footerspan{
    font-size: 16px;
    margin: 0;
}.footersection1{
    display: flex;
    justify-content:space-between;
    padding: 70px 0px 40px 0px;
    margin-top: 150px;
}
.footersection1-right{
 align-self:flex-end;
   
}
.footersection1-left{
   
}.list-ul{
    color: #ffffff;
    list-style-type:none;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 80px 30px 0px;
}.list-ul li{
    margin-top: 16px;
}
.ull-head{
   
}
.footer-about{
    color: rgb(213, 213, 213);
    font-size: 11px;
}
.footer-list{
    display: flex;
    

}
.icons div img{
    width:40px;
    height:40px;
}.footer-section1,.icons{
    display: flex;
    justify-content: space-between;
}
.icons{
 width: 180px;
 margin-top: 30px;
}.footer-section2{
    background-color: black;
    color: #fff;
    font-size: 13px;
    text-align: end;
    margin:0px;
    padding: 0px 50px;
   
}.footer-section2-p{
    margin: 0%;
    height: 100px;
    padding-top: 50px;
    font-weight: 400;

 
}